* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f9fafb;
    color: #1f2937;
}

.head {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: black;
    padding: 15px;
    border-radius: 12px;
}

.head img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

section {
    padding: 40px 12%;
}

h1, h2, h3 {
    margin-bottom: 12px;
}

p {
    line-height: 1.7;
    color: #4b5563;
}

.hero {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background-color: white;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 600;
    color: white;
    background-color: black;
}

.hero span {
    color: #2563eb;
    background-color: black;
}

.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    margin-right: 12px;
    padding: 12px 24px;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.btn.secondary {
    background: #e5e7eb;
    color: #1f2937;
}

.card {
    background: white;
    padding: 28px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.06);
    margin-bottom: 32px;
    background-color: white;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    background-color: white;
}

footer {
    text-align: center;
    padding: 40px;
    background: #111827;
    color: #9ca3af;

}

@media (max-width: 768px) {

    section {
        padding: 40px 6%;
    }

    .hero h1 {
        font-size: 2rem;
        text-align: center;
    }

    .hero h3 {
        text-align: center;
    }

    .hero p {
        text-align: center;
    }

    .head {
        flex-direction: column;
        text-align: center;
    }

    .buttons {
        text-align: center;
    }

    .btn {
        margin-bottom: 10px;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }
}

